documentation/schema.rnc

start = story
story = element story { title| (author | chapter |p)* }
p = element p { n | text | (author? | tone | quote)* }
title = element title { text }
author = element author { text }
chapter = element chapter { n |title| text | p* }
n = attribute n { xsd:int }
tone = element tone { type }
type = attribute type { "cynical" | "ironic" | "suspenseful" | "dark" | "sad" | "serious" }
quote = element quote { text }
